<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">
         

         <div class="logo-text h1" style="color:white">
           Associates Module
        </div>
        
      
     

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Service Associates">
                <serv-assoc-list></serv-assoc-list>
            </mat-tab>
            <mat-tab label="Material Associates">
               <mat-assoc-list></mat-assoc-list>
            </mat-tab>
            <mat-tab label="Search Associates">
                <search-assoc></search-assoc>
             </mat-tab>
           

            
                   
            

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
