@import "src/@fuse/scss/fuse";

.set-priority-items-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 480px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
    .ellipsis {
        max-width: 800px;
        text-overflow: ellipsis;
       // overflow: hidden;
        white-space: nowrap;
    }
    .invoice-table {
                    margin-top: 30px;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.87);
        
                    thead {
        
                        tr {
        
                            th {
                                color: rgba(0, 0, 0, 0.87);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                            }
                        }
                    }
        
                    tbody {
        
                        tr {
        
                            td {
                                color: rgba(0, 0, 0, 0.87);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                            }
                        }
                    }
        
                    .title {
                        font-size: 17px;
                       // font-weight: bold;
                    }
        
                    .detail {
                        margin-top: 8px;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.54);
                        max-width: 360px;
                    }
                } 
}
