@import "src/@fuse/scss/fuse";

.view-paid-details-dialog {


    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }
    .amount
    {
        color: darkblue;
        font-weight: bold;
        font-size: 13pt;
    }
    .box{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
        //background-color: rebeccapurple;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
}
:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}
.box 
{
    height: 300px;
    width: auto;
    .blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}
}
.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}
