<div id="profile" class="page-layout simple tabbed">

    

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Labor Payment">
                    <labour-pay-new></labour-pay-new>
               </mat-tab>
               <mat-tab label="Material Payment">
                   <material-pay-process></material-pay-process>
                  </mat-tab>
                   <mat-tab label="Management Fee Summary">
                   <mfee-summary></mfee-summary>
                  </mat-tab>
                  <mat-tab label="Paid Summary">
                    <paid-summary></paid-summary>
                   </mat-tab>
                

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
