<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">Transaction Process</span>
          <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

    <form [formGroup]="transactionForm">

     
              <input type="text"  formControlName="workID" hidden>
              <input type="text"  formControlName="typeID" hidden>
              <input type="text"  formControlName="payID" hidden>

              <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Requested Amount</mat-label>
                    <mat-icon matSuffix class="secondary-text">attach_money</mat-icon>
                    <input type="text" matInput formControlName="reqAmt" (input)="onChange($event.target.value)">
                        
                          </mat-form-field></div>
        
                          <div fxLayout="row" fxLayoutAlign="start start">       
                               <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Requested Pay Date</mat-label>
                                <input matInput [matDatepicker]="picker3" formControlName="reqDate" #ActualPayDate name="ActualPayDate">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                         </mat-form-field></div>
                         <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Comment</mat-label>
                                    <mat-icon matSuffix class="secondary-text">comment</mat-icon>
                                    <textarea matInput formControlName="comment"></textarea>
                                </mat-form-field>
                            </div>
                

      </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

      <button 
              mat-raised-button
              (click)="updateDetails(transactionForm.value);dialogRef.close();"
              class="save-button mat-accent"
              [disabled]="transactionForm.invalid"
              
              aria-label="Initiate Payment">
              Initiate Payment
      </button> 
  </div>
</div>
