  <div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <!--<div class="header p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

         <div class="logo-text h1" style="color:white">
            Project Module
        </div>
        
      
     

    </div>-->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Works">
                <works-tab-pmqa></works-tab-pmqa>
            </mat-tab>

            <mat-tab label="Leads">
              <leads-tab-pmqa></leads-tab-pmqa>      
                </mat-tab>
                
               
            

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
