<div id="timeline" class="p-24" fxLayout="row wrap">
        <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">
                <mat-form-field>
                        <input matInput placeholder="Search" [(ngModel)]="searchText">
                </mat-form-field>


                <div class="profile-box add-post">
                        <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="title">Customer Receipts</div>
                                <div class="more secondary-text"><a class="pl-12" mat-button (click)="openFilter()">
                                                <mat-icon>more_vert</mat-icon>
                                        </a></div>
                        </header>
                        <div class="content" *ngFor="let pay of payment| paymentFilter:searchText">
                                <table class="simple invoice-table">

                                        <tr>
                                                <td>

                                                        <div fxLayout="row">
                                                                <div class="work">
                                                                        <span>[{{pay.Work_ID}}]</span><span
                                                                                style="color:navy; font-size: 15px;">
                                                                                {{pay.Cust_FirstName}}
                                                                                {{pay.Cust_MidName}}
                                                                                {{pay.Cust_LastName}}</span></div>




                                                        </div>
                                                        <div fxLayout="row"> <div class="detail">{{pay.Receipt_Comment}}</div></div>
                                                </td>
                                                <td class="text-right">

                                                        <div fxLayout="row">

                                                                <span class="detail"> Received <span
                                                                                style="font-weight: bold;"
                                                                                *ngIf="pay.Receipt_Status==0">
                                                                                <a [routerLink]=""
                                                                                        (click)="payTransaction(pay.Rec_ID)">
                                                                                        Rs.
                                                                                        {{pay.Rec_Amount}}</a></span>
                                                                        <span style="font-weight: bold;color: darkred;"
                                                                                *ngIf="pay.Receipt_Status==1">
                                                                                Rs. {{pay.Rec_Amount}}</span>
                                                                        on
                                                                        <span
                                                                                style="font-weight: bold;color: darkgreen;">{{pay.Rec_Date}}</span><span
                                                                                *ngIf="pay.Type">
                                                                                ({{pay.Type}}) </span></span>

                                                        </div>

                                                        <div class="detail" *ngIf="pay.Receipt_Status==1">
                                                                Transaction No : {{pay.Transaction_No}}
                                                        </div>



                                                </td>
                                        </tr>
                                        






                                </table>


                        </div>


                </div>

        </div>
</div>
<!-- <div id="timeline" class="p-24" fxLayout="row wrap">
    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">
            <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="profile-box add-post">
                    <table mat-table [dataSource]="dataSource_List">

                        
                            <ng-container matColumnDef="ID">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                    <td mat-cell *matCellDef="let row"> {{row.Work_ID}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Pay">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay</th>
                                    <td mat-cell *matCellDef="let row"> {{row.Cust_FirstName}} </td>
                            </ng-container>

                         

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                            </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
    </div>
</div> -->