<div id="timeline" class="p-24" fxLayout="row wrap">       
    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">
      
           <!-- <div class="profile-box add-post"   *ngIf=" this.amend1Exists==1">
                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">Amendment 1 - Scope</div>
                            
                        </header>
                    
                        <div class="content" fxLayout="row wrap">               
                    <table class="simple invoice-table">
                           
                            <tbody>
                                <tr *ngFor="let item1 of items1">
                                      
                                    <td>
                                        <div class="title"><span style="font-weight: bold;" >{{item1.LineItem_Name}}</span></div>
                                        <div class="detail">{{item1.Comments}}</div>
                                        <div class="detail"><span *ngIf="item1.Quantity" style="color: darkblue;">{{item1.Quantity}} {{item1.Unit_Code}}</span></div>
                                    </td>
                                   
                                    
                                              <td class="text-right">
                                                  <div class="title" style="color: deeppink;font-size: 20;font-weight: bold;"><span *ngIf="item1.Value">Rs.{{item1.Value}}</span>
                                                </div>
                                                <div class="title" style="color: darkgreen;"> <span *ngIf="item1.Rate">Rs.{{item1.Rate}} per {{item1.Unit_Code}}</span></div>
                                                    
                                                  </td>
                                                 
                                </tr>
                            </tbody>
                        </table>  
                            <table class="simple invoice-table-footer">
                                    <tbody>
                                        <tr class="subtotal">
                                            <td>TOTAL</td>
                                            <td>Rs.{{this.AmdTotal1}}</td>
                                        </tr>
                                        <tr class="subtotal">
                                                <td>IN WORDS</td>
                                                <td>{{this.a_words1}}</td>
                                            </tr>
                                       
                                    </tbody>
                                </table>
                            
                        
    </div>
            </div> 
            <mat-divider   *ngIf="this.amend1Exists==1"></mat-divider>
            <div class="profile-box add-post" *ngIf="this.amend2Exists==1">
                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">Amendment 2 - Scope</div>
                            
                        </header>
                    
                        <div class="content" fxLayout="row wrap">               
                    <table class="simple invoice-table">
                            
                            <tbody>
                                <tr *ngFor="let item2 of items2">
                                      
                                        <td>
                                                <div class="title"><span style="font-weight: bold;" >{{item2.LineItem_Name}}</span></div>
                                                <div class="detail">{{item2.Comments}}</div>
                                                <div class="detail"><span *ngIf="item2.Quantity" style="color: darkblue;">{{item2.Quantity}} {{item2.Unit_Code}}</span></div>
                                            </td>
                                           
                                            
                                                      <td class="text-right">
                                                          <div class="title" style="color: deeppink;font-size: 20;font-weight: bold;"><span *ngIf="item2.Value">Rs.{{item2.Value}}</span>
                                                        </div>
                                                        <div class="title" style="color: darkgreen;"> <span *ngIf="item2.Rate">Rs.{{item2.Rate}} per {{item2.Unit_Code}}</span></div>
                                                            
                                                          </td>
                                                 
                                </tr>
                            </tbody>
                        </table>  
                            <table class="simple invoice-table-footer">
                                    <tbody>
                                        <tr class="subtotal">
                                            <td>TOTAL</td>
                                            <td>Rs.{{this.AmdTotal2}}</td>
                                        </tr>
                                        <tr class="subtotal">
                                                <td>IN WORDS</td>
                                                <td>{{this.a_words2}}</td>
                                            </tr>
                                       
                                    </tbody>
                                </table>
                            
                        
    </div>
            </div>
            <mat-divider    *ngIf="this.amend2Exists==1"></mat-divider>
            <div class="profile-box add-post"   *ngIf="this.amend3Exists==1" >
                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">Amendment 3 - Scope</div>
                            
                        </header>
                    
                        <div class="content" fxLayout="row wrap">               
                    <table class="simple invoice-table">
                           
                            <tbody>
                                <tr *ngFor="let item3 of items3">
                                      
                                        <td>
                                                <div class="title"><span style="font-weight: bold;" >{{item3.LineItem_Name}}</span></div>
                                                <div class="detail">{{item3.Comments}}</div>
                                                <div class="detail"><span *ngIf="item3.Quantity" style="color: darkblue;">{{item3.Quantity}} {{item3.Unit_Code}}</span></div>
                                            </td>
                                           
                                            
                                                      <td class="text-right">
                                                          <div class="title" style="color: deeppink;font-size: 20;font-weight: bold;"><span *ngIf="item3.Value">Rs.{{item3.Value}}</span>
                                                        </div>
                                                        <div class="title" style="color: darkgreen;"> <span *ngIf="item3.Rate">Rs.{{item3.Rate}} per {{item3.Unit_Code}}</span></div>
                                                            
                                                          </td>  
                                </tr>
                            </tbody>
                        </table>  
                            <table class="simple invoice-table-footer">
                                    <tbody>
                                        <tr class="subtotal">
                                            <td>TOTAL</td>
                                            <td>Rs.{{this.AmdTotal3}}</td>
                                        </tr>
                                        <tr class="subtotal">
                                                <td>IN WORDS</td>
                                                <td>{{this.a_words3}}</td>
                                            </tr>
                                       
                                    </tbody>
                                </table>
                            
                        
    </div>
            </div>
        
            <mat-divider  *ngIf="this.amend3Exists==1"></mat-divider>-->
            
            <div class="profile-box add-post">
               
                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">Work Schedule</div>
                            
                        </header>
                    
                        <div class="content" fxLayout="row wrap">
                               
                       <div *ngIf="this.workSched_Flag==0">
                       
                                <div class="info-line">
                                        <div class="title">Work Schedule Currently Not Available!!</div>
                                        
                                    </div>
                                   </div>
                                   <table class="simple invoice-table" *ngIf="this.workSched_Flag!=0">
                                    <!--<thead>
                                        <tr>
                                               
                                            <th>WORK PHASES</th>
                                           
                                            <th class="text-right">START DATE</th>
                                            <th class="text-right">DURATION</th>
                                            <th class="text-right">END DATE</th>
                                           
                                        </tr>
                                    </thead>-->
                                    <tbody>
                                        <tr *ngFor="let work of workSched"  (click)="workSchedule(2, work.Work_Schedule_ID)">
                                           <span *ngIf="work.Amend_Flag==0">
                                             <td>
                                                    <div class="title">{{work.Work_Stage}}</div>
                                                    <div class="detail">{{work.Remarks}}</div>
                                             </td>  
                                    
                                             <td class="text-right">
                                                           
                                                                  <div class="title">Starts on <span style="color: deeppink; font-weight: bold;">{{work.Start_Date | date:'dd/MM/yyyy'}}</span></div>
                                                                  <div class="title">Ends by <span style="color: green; font-weight: bold;">{{work.End_Date | date:'dd/MM/yyyy'}}</span></div>
                                                                  <div class="title">Duration <span style="color: indigo;font-weight: bold;">{{work.Duration}} Days</span></div>
                                             
                                             </td>
                                           </span> 
                                           <!--<span *ngIf="work.Amend_Flag==1 && work.FinishAmend_Flag==1">
                                                <td>
                                                    <div class="amend">Amendment 1</div>
                                                        <div class="title">{{work.Work_Stage}}</div>
                                                        <div class="detail">{{work.Remarks}}</div>
                                                 </td>  
                                                 <td class="text-right">
                                                           
                                                        <div class="title">Starts on <span style="color: deeppink; font-weight: bold;">{{work.Start_Date | date:'dd/MM/yyyy'}}</span></div>
                                                        <div class="title">Ends by <span style="color: green; font-weight: bold;">{{work.End_Date | date:'dd/MM/yyyy'}}</span></div>
                                                        <div class="title">Duration <span style="color: indigo;font-weight: bold;">{{work.Duration}} Days</span></div>
                                   
                                   </td>
                                           </span>
                                           <span *ngIf="work.Amend_Flag==2 && work.FinishAmend_Flag==1">
                                                <td>
                                                        <div class="amend">Amendment 2</div>
                                                        <div class="title">{{work.Work_Stage}}</div>
                                                        <div class="detail">{{work.Remarks}}</div>
                                                 </td> 
                                                 <td class="text-right">
                                                           
                                                        <div class="title">Starts on <span style="color: deeppink; font-weight: bold;">{{work.Start_Date | date:'dd/MM/yyyy'}}</span></div>
                                                        <div class="title">Ends by <span style="color: green; font-weight: bold;">{{work.End_Date | date:'dd/MM/yyyy'}}</span></div>
                                                        <div class="title">Duration <span style="color: indigo;font-weight: bold;">{{work.Duration}} Days</span></div>
                                   
                                   </td> 
                                           </span>
                                           <span *ngIf="work.Amend_Flag==3 && work.FinishAmend_Flag==1">
                                                <td>
                                                        <div class="amend">Amendment 3</div>
                                                        <div class="title">{{work.Work_Stage}}</div>
                                                        <div class="detail">{{work.Remarks}}</div>
                                                 </td> 
                                                 <td class="text-right">
                                                           
                                                        <div class="title">Starts on <span style="color: deeppink; font-weight: bold;">{{work.Start_Date | date:'dd/MM/yyyy'}}</span></div>
                                                        <div class="title">Ends by <span style="color: green; font-weight: bold;">{{work.End_Date | date:'dd/MM/yyyy'}}</span></div>
                                                        <div class="title">Duration <span style="color: indigo;font-weight: bold;">{{work.Duration}} Days</span></div>
                                   
                                   </td> 
                                           </span>-->
                                               
                                            
                                        </tr>
                                    </tbody>
                                   
                                </table>                       
                           
                            
                        
    </div>
            </div>
            <mat-divider></mat-divider>
            <div class="profile-box add-post">
               
                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">Payment Schedule</div>
                           
                        </header>
                    
                        <div class="content" fxLayout="row wrap">
                               
                       <div *ngIf="this.paySched_Flag==0">
                       
                                <div class="info-line">
                                        <div class="title">Payment Schedule Currently Not Available!!</div>
                                        
                                    </div>
                                   </div>
                                   <table class="simple invoice-table" *ngIf="this.paySched_Flag!=0">
                                   <!--<thead>
                                        <tr>
                                               
                                            <th>PAYMENT PHASES</th>
                                           
                                            <th class="text-right">PAYMENT DATE</th>
                                            <th class="text-right">AMOUNT(Rs)</th>
                                           
                                           
                                        </tr>
                                    </thead>-->
                                    <tbody>
                                        <tr *ngFor="let pay of paySched" (click)="paymentSchedule(2, pay.Pay_Schedule_ID)">
                                            <span  *ngIf="pay.Amend_Flag==0">
                                                    <td >
                                                            <div class="title">{{pay.Payment_Phase}}</div>
                                                           <div class="detail">{{pay.Remarks}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                                <div>
                                                                      <span style="color: deeppink; font-weight: bold;">Rs.{{pay.Amount}}</span> 
                                                                      <span style="color:rgba(0, 0, 0, 0.87) "> on </span> 
                                                                      <span style="color: darkgreen; font-weight: bold;">{{pay.Payment_Date | date:'dd/MM/yyyy'}}</span>
                                                                </div>

                                                        </td>
                                            </span>
                                            <!--<span  *ngIf="pay.Amend_Flag==1 && pay.FinishAmend_Flag==1">
                                                    <td >
                                                         <div class="amend">Amendment 1</div>
                                                            <div class="title">{{pay.Payment_Phase}}</div>
                                                           <div class="detail">{{pay.Remarks}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                                <div>
                                                                      <span style="color: deeppink; font-weight: bold;">Rs.{{pay.Amount}}</span> 
                                                                      <span style="color:rgba(0, 0, 0, 0.87) "> on </span> 
                                                                      <span style="color: darkgreen; font-weight: bold;">{{pay.Payment_Date | date:'dd/MM/yyyy'}}</span>
                                                                </div>

                                                        </td>
                                            </span>
                                            <span  *ngIf="pay.Amend_Flag==2 && pay.FinishAmend_Flag==1">
                                                    <td >
                                                            <div class="amend">Amendment 2</div>
                                                            <div class="title">{{pay.Payment_Phase}}</div>
                                                           <div class="detail">{{pay.Remarks}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                                <div>
                                                                      <span style="color: deeppink; font-weight: bold;">Rs.{{pay.Amount}}</span> 
                                                                      <span style="color:rgba(0, 0, 0, 0.87) "> on </span> 
                                                                      <span style="color: darkgreen; font-weight: bold;">{{pay.Payment_Date | date:'dd/MM/yyyy'}}</span>
                                                                </div>

                                                        </td>
                                            </span>
                                            <span  *ngIf="pay.Amend_Flag==3 && pay.FinishAmend_Flag==1">
                                                    <td >
                                                            <div class="amend">Amendment 3</div>
                                                            <div class="title">{{pay.Payment_Phase}}</div>
                                                           <div class="detail">{{pay.Remarks}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                                <div>
                                                                      <span style="color: deeppink; font-weight: bold;">Rs.{{pay.Amount}}</span> 
                                                                      <span style="color:rgba(0, 0, 0, 0.87) "> on </span> 
                                                                      <span style="color: darkgreen; font-weight: bold;">{{pay.Payment_Date | date:'dd/MM/yyyy'}}</span>
                                                                </div>

                                                        </td>
                                            </span>-->

                                        </tr>

                                          
                                    </tbody>
                                   
                                </table>                       
                           
                                   
                           
                        
                            
                        
    </div>
            </div>
            <mat-divider></mat-divider>
            <div class="profile-box add-post">
               
                <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="title">Key Deliverables</div>
                        
                    </header>
                
                    <div class="content" fxLayout="row wrap">
                           
                   <div *ngIf="this.keys_Flag==0">
                   
                            <div class="info-line">
                                    <div class="title">Key Deliverables Currently Not Available!!</div>
                                    
                                </div>
                               </div>
                               
                               <div class="info-line" *ngIf="this.keys_Flag!=0">
                                   <div  *ngFor="let key of keys" >
                                        <span>
                                                <li> {{key.Key_Name}}</li>
                                            </span>
                                   </div>
                                   
                               
                           </div>
                       
                        
                    
</div>
        </div>
        <mat-divider></mat-divider>
        <div class="profile-box add-post">
               
            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title">Terms & Conditions</div>
                    
                </header>
            
                <div class="content" fxLayout="row wrap">
                       
               <div *ngIf="this.terms_Flag==0">
               
                        <div class="info-line">
                                <div class="title">Terms & Conditions Currently Not Available!!</div>
                                
                            </div>
                           </div>
                           <div class="info-line" *ngIf="this.terms_Flag!=0">
                                <li *ngFor="let term of terms" class="title">
                                       
                                        <span> {{term.Term_Name}}</span>
                                     </li>
                           </div>

                
</div>
    </div>
    <mat-divider></mat-divider>
            <div class="profile-box add-post"  *ngIf="this.InitWO_Flag==1">
               
                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">Final Quote</div>
                            
                        </header>
                    
                        <div class="content" fxLayout="row wrap">
                               
                       <div *ngFor="let assocF of assoc_F">
                       
                                <div class="info-line">
                                        <div class="title">Associate</div>
                                        <div class="info">{{assocF.Assoc_FirstName}} {{assocF.Assoc_MiddleName}} {{assocF.Assoc_LastName}}</div>
                                    </div>
                                    <div class="info-line">
                                            <div class="title">Contact</div>
                                            <div class="info">{{assocF.Contact_phone}}</div>
                                        </div></div>
                        <table class="simple invoice-table">
                                <thead>
                                    <tr>
                                           
                                        <th>Line Items</th>
                                       
                                        <th class="text-right">VALUE</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tenderF of tenderFinal">
                                          
                                        <td>
                                            <div class="title">{{tenderF.LineItem_Name}}</div>
                                            <div class="detail">{{tenderF.Comments}}</div>
                                            <div class="detail"><span *ngIf="tenderF.Quantity" style="color: darkblue;">{{tenderF.Quantity}} {{tenderF.Unit_Code}}</span></div>
                                           
                                        </td>
                                       
                                       
                                        <td class="text-right">
                                                <div class="title" style="color: deeppink;font-size: 20;font-weight: bold;"><span *ngIf="tenderF.Value">Rs.{{tenderF.Value}}</span>
                                              </div>
                                              <div class="title" style="color: darkgreen;"> <span *ngIf="tenderF.Rate">Rs.{{tenderF.Rate}} per {{tenderF.Unit_Code}}</span></div>
                                                  
                                                </td>
                                        
                                    </tr>
                                </tbody>
                               
                            </table>  
                            <table class="simple invoice-table-footer">
                                    <tbody *ngFor="let assocF of assoc_F">
                                        <tr class="subtotal">
                                            <td>TOTAL</td>
                                            <td>Rs.{{assocF.TotalQuote}}</td>
                                        </tr>
                                        <tr class="subtotal">
                                                <td>IN WORDS</td>
                                                <td>{{this.words}}</td>
                                            </tr>
                                       
                                    </tbody>
                                </table>
                            
                        
    </div>
            </div>
            
           
       

        
    </div>

    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="35">
           
                 
                  <div  fxLayout="column">
                    <button mat-raised-button color="accent" aria-label="Finish WO" *ngIf="this.woSignUp_Flag==1" (click)="printWO()">Print Work Order</button>
                   

              </div> 
              <div class="profile-box latest-activity" fxLayout="column">
            </div>
            <div class="profile-box latest-activity" fxLayout="column">

                <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title">Work Details</div>
                    
                </header>

                <div class="content" fxLayout="row wrap">
                    <div class="content" *ngFor="let work of works">
                            <div class="info-line">
                                    <div class="title">Customer Name</div>
                                    <div class="info">{{work.Cust_FirstName}} {{work.Cust_MidName}} {{work.Cust_LastName}}</div>
                                </div>
                
                                <div class="info-line">
                                    <div class="title">Contact</div>
                                    <div class="info">{{work.Contact_phone}}</div>
                                </div>
                                <div class="info-line">
                                    <div class="title">Location</div>
                                    <div class="info">{{work.Loc_Name}}</div>
                                </div>
                                <div class="info-line">
                                    <div class="title">Address</div>
                                    <div class="info">{{work.Address_line1}}, {{work.Address_line2}},</div>
                                    <div class="info"><span *ngIf="work.landmark">{{work.landmark}}</span><span *ngIf="work.Address_postalcode">{{work.Address_postalcode}}</span></div>
                                </div>
                        <div class="info-line" *ngIf="work.Segment_Name">
                            <div class="title">Segment</div>
                            <div class="info">{{work.Segment_Name}}</div>
                        </div>
                        <div class="info-line" *ngIf="work.Service_Name">
                            <div class="title">Services</div>
                            <div class="info">{{this.newlist}}</div>
                        </div>
                        <div class="info-line" *ngIf="work.Work_Type">
                            <div class="title">Work Type</div>
                            <div class="info">{{work.Work_Type}}</div>
                        </div>
                        <div class="info-line">
                            <div class="title">Work Details</div>
                            <div class="info">{{work.WorkDetail}}</div>
                        </div>
                        <div class="info-line"*ngIf="work.WorkSpec">
                            <div class="title">Work Specifications</div>
                            <div class="info">{{work.WorkSpec}}</div>
                        </div>
                        
        
                </div>
    
               
            </div>
            <div class="profile-box latest-activity" fxLayout="column">
</div>
             

        <div class="profile-box latest-activity" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Uploaded Designs</div>
                
            </header><div class="mb-14" fxLayout="row">
            <span *ngIf="this.design_count==0">Designs currently not available</span></div>
            <div class="content" fxLayout="row wrap" *ngIf="this.design_count!=0">
                <div class="mb-14" fxLayout="row" fxLayoutAlign="start start">
                    <table>
                        <tr>
                            <td>
                    <input type="text" placeholder="Design Uploaded  : " [disabled]></td>
                    <td>
        
                    </td>
                    <td>
                        <input matInput type="text" formControlName="design" [value]="filename" [disabled]>
                    </td>
                    <td>
        
                    </td>
                    <td>
                            <button mat-raised-button class="add-assoc-button mat-accent-bg" (click)="downloadDesign()" aria-label="add customer" id="labEst">
                                    Download
                                    </button>  
                    </td>
                </tr>
                </table>
                    </div>
            </div>

           
        </div>
        <div class="profile-box latest-activity" fxLayout="column">

                <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title">Payment Terms</div>
                    
                </header>

                <div class="content" fxLayout="row wrap">
                        <div class="info-line">
                                <div class="title">Payment Terms</div>
                                <div class="info">{{this.payTerms}}</div>
                            </div>
                </div>
    
               
            </div>
    </div>

</div>

