<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Site Analysis Details</span>
            <button mat-icon-button (click)="dialogRef_Site.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

       
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="analysisForm">
                <input type="text" formControlName="work" hidden> 
                <input type="text" formControlName="typeID" hidden> 
                <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field  appearance="outline" fxFlex>
                                <mat-label>Select Segment</mat-label>
                                <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                <mat-select #items placeholder="Select Segment" formControlName="ser" (ngModelChange)="onServiceChange($event)"matInput required><!---->
                                    <mat-option *ngFor="let seg of segment" [value]="seg.Segment_ID">{{seg.Segment_Name}}</mat-option>
                                  </mat-select>
                                    
                                          </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field  appearance="outline" fxFlex>
                                <mat-label>Select Services</mat-label>
                                <mat-icon matSuffix class="secondary-text">build</mat-icon>
                                <mat-select placeholder="Select Service" formControlName="seg" multiple matInput required>
                                    <mat-option *ngFor="let cat of category" [value]="cat.Service_ID">{{cat.Service_Name}}</mat-option>
                                  </mat-select>
                                    
                                          </mat-form-field>
                    </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Work Type</mat-label>
                    <mat-icon matSuffix class="secondary-text">category</mat-icon>
                    <mat-select formControlName="type" matInput required><!---->
                        <mat-option [value]="'Labor Only'">
                            Labor Only
                        </mat-option>
                        <mat-option [value]="'Material Only'">
                            Material Only
                        </mat-option>
                        <mat-option [value]="'Labour With Material'">
                            Labour With Material
                               </mat-option>
                         <mat-option [value]="'NA'">
                                   Not Applicable
                                       </mat-option>
                                               
                      </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Expected Work Duration(Days)</mat-label>
                        <mat-icon matSuffix class="secondary-text">format_list_numbered</mat-icon>
                        <input matInput formControlName="duration">
                    </mat-form-field>
                </div>

          
           

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Site Analysis Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="analysisDate" #currentDate name="analysisDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
           

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Work Area</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input matInput placeholder="Project Area" formControlName="area">
                </mat-form-field>
            </div>

            
                      
                        <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Comments</mat-label>
                                    <mat-icon matSuffix class="secondary-text">comment</mat-icon>
                                    <textarea matInput formControlName="comments"></textarea>
                                </mat-form-field>
                            </div>
                             

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button
                mat-button
                class="save-button"
                (click)="updateWork(analysisForm.value);dialogRef_Site.close();"
                [disabled]="analysisForm.invalid"
                aria-label="SAVE">
            SAVE
        </button><!-- matDialogRef.close();-->

    </div>
</div>
