<div id="invoice" class="compact page-layout blank" fxLayout="row">

    <div class="invoice-container">

        <div class="card">
            <div class="noprint" fxLayout="row" fxLayoutAlign="space-between start">
                <div class="col-md-6"><button mat-raised-button color="accent" [routerLink]="['/pages/project-management/',this.Work_ID]"><mat-icon>arrow_back</mat-icon>Back</button>
              &nbsp;
                       <button mat-raised-button color="accent" (click)="printDoc()"><mat-icon>print</mat-icon>Print</button>
                   </div>
               </div>


            <div class="header">
                <div class="invoice-date">Payment Requisition based on Re-measurement as per Work Order No:<span style="font-size: 18px;"> BID-{{this.Work_ID}}</span></div>

                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <div class="client">
                        

                        <div class="info" *ngFor="let cust of custDetails">
                            <div class="title">Customer</div>
                            <div class="address">{{cust.Cust_FirstName}} {{cust.Cust_MidName}} {{cust.Cust_LastName}}</div>
                            <div class="address">{{cust.Address_line1}} ,{{cust.Address_line2}} ,{{cust.Loc_Name}}</div>
                        
                        </div>

                        <div class="info" *ngFor="let cust of custDetails">
                            <div class="title">Location</div>
                            <div class="address">{{cust.Loc_Name}}</div>
                           
                        </div>
                        <div class="info">
                            <div class="title">Date</div>
                            <div class="address">{{this.Issue_Date}}</div>
                           
                        </div>
                    </div>

                    <div class="issuer" fxLayout="row" fxLayoutAlign="start center">
                        <div class="logo">
                            <img src="assets/images/logos/logoblue.png">
                        </div>

                       
                    </div>
                </div>
            </div>

            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                        <tr>
                            <th>LINE ITEMS</th>
                          
                            <th class="text-right">RE-MEASURED VALUE</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td>
                                <div>
                                        <div class="title">{{item.LineItem_Name}}</div>
                                       
                                        <div class="detail">{{item.Comments}}</div>
                                        <div class="detail1" *ngIf="item.finishRe_Flag==1">{{item.reMeasure_Qty}} {{item.Unit_Code}}</div>
                                        <div class="detail1" *ngIf="item.finishRe_Flag==0">{{item.Quantity}} {{item.Unit_Code}}</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="title" *ngIf="item.finishRe_Flag==1">Rs.{{item.reMeasure_Value}}</div>
                                <div class="title" *ngIf="item.finishRe_Flag==0">Rs.{{item.Value}}</div>
                                <div class="detail">Rs.{{item.Rate}} per {{item.Unit_Code}}</div>
                              </td>
                              

                        </tr>
                    
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                        <tr class="subtotal">
                            <td>TOTAL</td>
                            <td>Rs. {{this.ReTotal}}</td>
                        </tr>
                        <tr class="tax">
                            <td>IN WORDS</td>
                            <td>Rupees {{this.ReTotal_Words}}</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <div class="note">Verified By Project Management & Quality Assurance Team</div>
               
                    <div class="small-note">
                       Authorized Signatory
                    </div>
                </div>
            </div>

        </div>
</div>
